<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./main.css">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

</head>

<body>
    <div id="app">
        <div class="headerCon">
            <h1 style="margin-bottom: 5px; padding-left: 20px;">MAQE Forums</h1>
            <h2 style="margin-top: 0; padding-left: 20px;">Subtitle</h2>
            <h3 style="margin-top: -5px; padding-left: 20px;">Posts</h3>
        </div>
        <section id="content"></section>
        <div style="margin-top: 50px;" id="pagination" class="pagination"></div>
    </div>
</body>

</html>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>


<script>

    const handleTemplate = Handlebars.compile(`
        <div  class="row">
<div style="background: url({{image_url}}) no-repeat;" class="img-con">
</div>
<div class="contentCon">
    <h1>{{title}}</h1>
    <p>{{body}}</p>
    <i class="far fa-clock"></i> <span>{{created_at}}</span>
</div>
<div class="authorCon">
    <div style="background: url({{avatar_url}}) ;"class="profile"></div>
    <p style="color: rgb(179, 0, 0);">{{name}}</p>
    <p>{{role}}</p>
    <span> <i class="fas fa-map-marker-alt"></i> {{place}}</span>
</div>
</div>


`);


    const generateFeed = async () => {
        const dataContainer = $('#content')
        const postArray = []
        const postRequest = await axios.get('http://maqe.github.io/json/posts.json');
        const authorRequest = await axios.get('http://maqe.github.io/json/authors.json');

        postData = await postRequest.data
        authorData = await authorRequest.data
        postData.map((post) => {
            post.created_at = timeago.format((post.created_at))
            postArray.push({ ...this.authorData.filter(author => author.id == post.author_id)[0], ...post })

        })


        $('#pagination').pagination({
            dataSource: postArray,
            items: postArray.length,
            locator: 'items',
            totalNumber: postArray.length,
            pageSize: 8,
            callback: function (data, pagination) {
                let template = ""
                data.map((post, index) => {
                    const bodyElement = parserHtmlTag(handleTemplate(post))
                    const contentContainer = bodyElement.querySelector('.row')
                    if (index % 2 != 0) {
                        contentContainer.style.setProperty('background-color', 'rgba(226, 226, 226, 0.672)');

                    }

                    // thislow.style.setProperty('background-color', 'green');

                    template += bodyElement.innerHTML
                })
                dataContainer.html(template)

            },
            prevText: 'Previous',
            nextText: 'Next'
        })
    }

    generateFeed()

    const parserHtmlTag = (htmlTag) => {
        const parser = new DOMParser()
        const parsedBody = parser.parseFromString(htmlTag, 'text/html')
        return parsedBody.body
    }
</script>