body {
 font-family: sans-serif;
}

#app {
 width: 80%;
 height: 100%;
 margin: auto;
}

.headerCon {
 width: 100%;
 height: 150px;
 padding: 10px 0px 10px 0px;

 /* display: inline-block; */
}

.row {
 display: flex;
 justify-content: space-between;
 /* width: 100%; */
 height: 30%;
 box-shadow: 0px 5px 20px -10px rgb(99, 99, 99);
 border: 1px solid rgba(184, 184, 184, 0.426);
 border-radius: 7px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 15px;
 margin-left: 20px;
 margin-top: 20px;
 /* background-color: black; */
}

.child {
 width: 33.3%;
 height: 100%;
 padding: 2px;

 /* background-color: white; */
}

.contentCon {
 width: 80%;
 height: 100%;
 margin-left: 20px;
 margin-right: 20px;
 word-wrap: break-word;

}

.img-con {
 height: 85%;
 width: 25%;
 background-size: cover;
 background-repeat: no-repeat;
}

.contentCon h1 {
 font-size: 20px;
 margin: 0;
 font-weight: bold;
 color: rgb(26, 26, 26);
}

.contentCon p {
 font-size: 16;
 overflow-wrap: break-word;
 color: rgb(87, 87, 87);


}

.contentCon span {
 margin: 0;
 font-size: 14px;
 color: rgb(111, 111, 111);
}

.profile {
 height: 120px;
 width: 120px;
 background-size: cover;
 background-repeat: no-repeat;

 margin: auto;
 border-radius: 50%;
}

.authorCon {
 display: block;
 justify-content: center;
 text-align: center;
 width: 38.3%;
 height: 100%;
 /* background-color: white; */
 border-left: 1px solid rgba(199, 199, 199, 0.672);
}

.authorCon span {
 font-size: 14px;
 margin-top: 10px;
 color: rgb(111, 111, 111);
}

.authorCon p {
 font-size: 14px;
 margin-top: 10px;
}

.pagination {
 width: 100%;
 padding-bottom: 20px;
 /* height: 100%; */
}

.pagination ul {
 margin: 0 0 20px;
 padding: 0;
 list-style: none;
 text-align: center;
}

.pagination li {
 display: inline-block;
 margin-right: 5px;
}

.pagination li a,
.pagination li span {
 color: rgb(111, 111, 111);
 padding: 15px 19px;
 
 text-decoration: none;
 /* border: 1px solid #eee; */
 /* background-color: #fff; */
 /* box-shadow: 0px 0px 10px 0px #eee; */
}

.pagination .prev.current,
.pagination .next.current {
 background: #e04e60;
}

.active a {
 color: #fff !important;
 background-color: rgb(179, 0, 0);
 border-radius: 50%;
 
}
